.card {
    background-color: transparent;
    width: 90%;
    height: 100px;
    perspective: 1000px;
    margin: 10px;
    border: 0;

    &__flip {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.5s;
        transform-style: preserve-3d;

        &__front,
        &__back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center
        }
        &__front {
            font-size: 100px;
            color: #b9bfcc;
            background-image: url("../../images/front-card.png");
            background-color: #0081a8;
        }
        &__back {
            font-size: 80px;
            background-color: #555;
            color: white;
            transform: rotateY(180deg);
            background-image: url("../../images/front-card.png");
            background-color: #005ea6;
            @media screen and (max-width: 768px) {
                font-size: 50px;
            }
        }

    }
    @media screen and (max-width: 768px) {
        height: 70px;
    }
}

.card__flip.flip {
    transform: rotateY(180deg);
}

.card.hide {
    transition: 1s;
    visibility: hidden;
}

